
<button type="button" (click)="toggleColor()">Switch color</button>
<button type="button" (click)="toggleFontSize()">Switch font size</button>

<div [ngClass]="classObject">This is fancy text</div>

<app-quote></app-quote>

<app-observable></app-observable>




<button type="button" (click)="inc()">INCREMENT!!</button>

<!-- {{ counter }} -->

<app-hello-world (remember)="callMethodInParent()"></app-hello-world>

<button type="button" (click)="toggle()">MENU</button>

<div class="menu" *ngIf="isOpened">
  <a href="https://www.google.com">Google</a>
  <br>
  <a href="https://www.ibm.com">IBM</a>
</div>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, enim consequuntur. Adipisci beatae inventore ipsa totam, voluptates iusto magnam iure minus, soluta hic doloremque possimus nisi at explicabo dolorem vel.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, enim consequuntur. Adipisci beatae inventore ipsa totam, voluptates iusto magnam iure minus, soluta hic doloremque possimus nisi at explicabo dolorem vel.</p>
